################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Main/bin
/Main/obj
/Shared/bin
/Shared/obj
/.vs
/packages