################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Main/bin
/Main/obj
/Silent/bin
/Silent/obj
/Package
